<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="coletor.sismanejo.com.br.coletor">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tree"
        android:label="Sismanejo - Módulo Coletor"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.InicialActivity"
            android:label="InicialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.PrincipalActivity"
            android:label="PrincipalActivity" />
        <activity
            android:name=".activities.ColetaActivity"
            android:label="ColetaActivity" />
        <activity
            android:name=".activities.ConsultaActivity"
            android:label="ConsultaActivity" />
        <activity
            android:name=".activities.EspeciesActivity"
            android:label="EspeciesActivity" />
        <activity
            android:name=".activities.ProjetoActivity"
            android:label="ProjetoActivity" />


    </application>
</manifest>
